<ion-content>
  <div class="header">
    <ion-button routerLink="../" fill="solid" shape="round">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="content">
    <div class="cnt-canvas">
      <div class="cnt-l">
        <ion-grid class="ly-grid">
          <ion-row class="rw-top">
            <ion-col size="10" class="cnv-cnt">
              <canvas id="canvas-container" width="250" height="300"> </canvas>
            </ion-col>
            <ion-col size="2" class="rg-Y">
              Y
              <input
                type="range"
                min="0"
                max="100"
                step="1"
                [(ngModel)]="axis_y"
                (change)="drawCanvas()"
              />
            </ion-col>
          </ion-row>
          <ion-row class="rw-down">
            <ion-col size="10">
              <div class="rg-X">
                X
                <input
                  type="range"
                  min="0"
                  [max]="100"
                  step="1"
                  [(ngModel)]="axis_x"
                  (change)="drawCanvas()"
                />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="cnt-r">
        <ion-label>X: {{axis_x}}</ion-label> <br />
        <ion-label>Y: {{axis_y}}</ion-label>
      </div>
    </div>
  </div>
</ion-content>
