<ion-content>
  <div class="header">
    <ion-button routerLink="../" fill="solid" shape="round">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  <div class="content">
    <div class="cnt-canvas">
      <div class="cnt-l">
        <ion-grid class="ly-grid">
          <ion-row class="rw-top">
            <ion-col size="10" class="cnv-cnt">
              <canvas> </canvas>
            </ion-col>
            <ion-col size="2" class="rg-Y">
              <input type="range" />
            </ion-col>
          </ion-row>
          <ion-row class="rw-down">
            <ion-col size="10">
              <div class="rg-X">
                <input type="range" />
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="cnt-r">
        <ion-label>X: </ion-label>
        <ion-label>Y: </ion-label>
      </div>
    </div>
  </div>
</ion-content>
